@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg-forest {
  background-image: url('../public/assets/images/Banner.jpg');
  background-size: cover;
  background-position: bottom;
}

.business-access-bg {
  background-image: url('https://source.unsplash.com/random/900×700/?costa,rica');
  background-size: cover;
}
