@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg-forest {
  background-image: url('../public/assets/images/Banner.jpg');
  background-size: cover;
  background-position: bottom;
}
